@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap);

* {
    font-family: 'Open Sans';
}
h5 {
    color: white;
    font-weight: 600 !important;  
}

h4 {
    color: #499FF6;
    font-weight: 600 !important;
    font-size: 16px !important;  
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 13px;
}

.no-border {
    border: none !important;
}

.bg-blue {
    background: #499FF6;
}

.bg-white {
    background: white;
}

.bg-grey {
    background: 707070;
}

.bg-eggshell {
    background: #EAEAEA;
}

.round-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.text-blue {
    color: #499FF6 !important;
}

.text-white {
    color: white;
}

.text-grey {
    color: #707070;;
}

.uppercase {
    text-transform: uppercase;
}